<form action="<%= api_users_url %>" method='POST'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Email
        <input type="text" name="user[email]" value="">
    </label>

    <label>Display Name (Optional)
        <input type="text" name="user[display_name]" value="">
    </label>

    <button>Create</button>
</form>