$light-blue: #3da9f3;
$hover-light-blue: #359ff1;
$blue: #0062fd;
$hover-blue: #004ee0;
$purple: #3804c1;
$orange: #ff7a07;
$gray: #fafafa;
$hover-gray: #f4f4f4;
$yellow: #ffc80b;
$black: #212121;
$box-shadow: 0px 0px 20px rgba(0,0,0,0.1);