@import 'colors.scss'; 

.create-main {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 5em;
}

.create-main > h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.create-main .subcontainer {
    padding: 3em;
    background: $gray;
    border: 1px solid lightgray;
}

.create-main .blurb {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}

.create-main .subblurb {
    font-size: 1.1em;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.create-main .errors {
    line-height: 1.25em;
    color: red;
    margin-bottom: 1em;
}

.create-main .errors li {
    list-style-type: none;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-form .inputdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}

.create-form .inputdiv > label {
    margin-bottom: 0.5em;
}

.create-form .inputdiv input, select {
    font-size: 1.4em;
    letter-spacing: 0.02em;
    padding: 0.5em;
    background: white;
    border: 1px solid lightgray;
    border-radius: 0px;
}

.create-form .autocomplete-list-container {
    position: relative;
    // width: 100%;
}

.create-form .autocomplete-list {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid lightgray;
}

.create-form .autocomplete-list li {
    list-style-type: none;
    padding: 1em 0.5em;
    background: white;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.create-form .autocomplete-list li:hover {
    color: white;
    background: $blue;
    cursor: pointer;
}

.create-form .autocomplete-list-hidden {
    display: none;
}

.create-main .link {
    text-decoration: none;
    color: $blue;
}

.create-form button {
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    background: $blue;
    width: 100%;
    padding: 0.8em;
    margin-top: 1em;
    cursor: pointer;
}

.create-main .disclaimer {
    text-align: center;
    margin-top: 1.5em;
    color: $blue;
}

#teacher-displayname-input {
    display: flex;
    justify-content: space-between;
}

#teacher-displayname-input > select {
    width: 20%
}

#teacher-displayname-input > input {
    width: 75%
}