@import 'colors.scss'; 

.create-main {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 5em;
}

.create-main > h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.create-main .subcontainer {
    padding: 3em;
    background: $gray;
    border: 1px solid lightgray;
}

.create-main .blurb {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}

.create-main .subblurb {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.5em;
}

.create-main .errors {
    line-height: 1.25em;
    font-weight: 400;
    color: red;
    margin-bottom: 1em;
}

.create-main .errors li {
    list-style-type: none;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-form .inputdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}

.create-form .inputdiv > label {
    margin-bottom: 0.5em;
}

.create-form .inputdiv input, select {
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    padding: 0.5em;
    background: white;
    border: 1px solid lightgray;
    border-radius: 0px;
}

.create-form .autocomplete-list-container {
    position: relative;
    // width: 100%;
}

.create-form .autocomplete-list {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid lightgray;
}

.create-form .autocomplete-list li {
    list-style-type: none;
    padding: 1em 0.5em;
    background: white;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.create-form .autocomplete-list li:hover {
    color: white;
    background: $blue;
    cursor: pointer;
}

.create-form .autocomplete-list-hidden {
    display: none;
}

.create-main .link {
    text-decoration: none;
    color: $blue;
}

.create-form button {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background: $blue;
    width: 100%;
    padding: 0.8em;
    margin-top: 1em;
    cursor: pointer;

    &:hover {
        background-color: $hover-blue;
    }
}

.create-main .disclaimer {
    text-align: center;
    margin-top: 1.5em;
    color: $blue;
}

#teacher-displayname-input {
    display: flex;
    justify-content: space-between;
}

#teacher-displayname-input > select {
    width: 20%
}

#teacher-displayname-input > input {
    width: 75%
}


//PROJECT FORMS ---------

.create-new-project {
    background-image: url('/assets/default-background.jpg');
    background-repeat: repeat;
    text-align: center;
}

.create-new-project .create-main {
    padding: 2em 0 4em 0;
}

.create-new-project h1 {
    color: $yellow;
    margin-top: 0;
    margin-bottom: 1em;
}

.create-new-project h2 {
    margin-bottom: 0.25em;
}

.create-new-project .subblurb {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
    padding: 0;
    border-bottom: none;
}

.create-new-project .inputdiv {
    padding: 2em 0 2em 0;
    border-bottom: 1px dashed lightgray;

    &:first-child {
        padding: 0 0 2em 0;
    }
}

.create-new-project .input-largertext {
    height: 300px;
    border: 1px solid lightgray;
    font-size: 1.5rem;
    padding: 0.5em;
}

.create-new-project .input-funding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

        &::before {
                content: '$';
                color: $black;
                font-size: 2rem;
                font-weight: 400;
        }
}

.create-new-project .input-funding input {
    width: 100px;
    text-align: right;
    margin-left: 0.5em;
}

.create-new-project .input-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.create-new-project .input-categories-header {
    font-weight: 400;
}

.create-new-project .input-categories li {
    display: flex;
    align-items: baseline;
    margin-top: 1em;
}

.create-new-project .input-categories label {
    margin-left: 5px;
}

.create-new-project .errors {
    text-align: left;
    margin-bottom: 0px;
}


//DONATE FORMS
.donate-main {
    background-color: $gray;
}

.donate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    margin: 0 auto;

    & .subcontainer {
        margin-top: 2em;
        width: 100%;

        & .project-info {
            & h3, p {
                margin-bottom: 0.5em;
            }
            & h3 {
                font-size: 1.25rem;
            }
        }

        & .donate-total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-top: 2px solid lightgray;
            margin-top: 1em;
            padding: 1em 0 2em 0;
            width: auto;
            font-size: 1rem;
            font-weight: 600;
        }
    }

    & .form-container {
        margin-bottom: 4em;
    }

    & .modal-main {
        width: auto;

        & div {
            width: auto;
        }
    }

    & .create-form {
        border: 1px solid lightgray;
        padding: 3em;
        background-color: white;

        & h3 {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }

        & .input-funding {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border: 1px solid lightgray;
            padding-left: 1em;
            width: auto;

                & input {
                    width: 100%;
                    border: none;

                    &:focus{
                        outline: none;
                    }
                }

                &::before {
                        content: '$';
                        color: lightgray;
                        font-size: 1.5rem;
                        font-weight: 400;
                }
        }

        & .errors-div {
            width: auto;
            color: red;
            line-height: 1rem;
            padding: 1em;
            background-color: $gray;
            border: 1px solid red;
            margin-bottom: 1em;
        }

        & .inputdiv-checkbox {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 1em 0 1em 0;
            
            & input {
                margin: 0 0.5em 0 0;
            }
        }
    }

}