@import 'colors.scss'; 

body {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center
    width 100%;
}

div {
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

button {
    background-color: $blue;
    cursor:pointer;

    &:hover {
        background-color: $hover-blue;
    }
}

li {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

