@import 'colors.scss'; 

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 5;
}
 
.modal-child {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.modal-main {
    position: relative;
    margin: 0 auto;
    background-color: white;
    border: 1px solid lightgray;
    padding: 3em;
    width: 500px;
}

.modal-main > h2 {
    text-align: center;
    color: $purple;
    margin-bottom: 1em;
}

.modal-main .blurb {
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid lightgray;
}

.modal-main .blurb > h2 {
    margin-top: 0.5em;
}

.modal-main .subblurb {
    margin-top: 1.25em;
    font-weight: 400;
}

.modal-main .link {
    text-decoration: none;
    color: $blue;
    line-height: 1.5em;
}
