@import 'colors.scss'; 
 

//MAIN NAVBAR STYLING-------------------------


.navbar-main {
    border-bottom: 1px solid lightgray;
}

.navbar-main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 980px;
    height: 100px;
    margin: 0 auto;
}

#navbar-logo {
    height: 50px;
    width: 140px;
    background-image: url(/assets/header-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.navbar-main .subleft, .subright {
    margin-top: 25px;
    height: 50px;
}

.navbar-main .subleft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-main .subright {
    display: flex;
    flex-direction: column;
}

.navbar-button {
    display: flex;
    color: inherit;
    align-items: center;
    border: 1px solid lightgray;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    padding: 0em 1em;
    margin: 0 2em;

    &:hover {
        background-color: $gray;
    }
}

.navbar-main .link {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    margin-right: 1.25em;
}

.greeting {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-weight: 400;
    color: inherit;
    cursor: pointer;
}

.navbar-main .account-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar-main .account-dropdown {
    position: relative;
    border: 1px solid lightgray;
    background: white;
    width: 200px;
    z-index: 1000;
}

.navbar-main .account-links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-weight: 400;
    padding: 1em;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    
    &:hover {
        background-color: $gray;
    }
    
    &:last-child {
        border-bottom: none;
    }
}

.account-links .link-holder {
    border-bottom: 1px solid lightgray;
    padding: 0;
    height: auto;

    & .link {
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
    }
}



.account-links li span {
    color: lightgray;
    margin-right: 0.5em;
}

.greeting .link {
    margin: 0px;
}

.greeting span {
    margin-left: 1em;
}

.greeting .account-photo-teacher {
    height: 25px;
    width: 25px;
    background-image: url('/assets/default-profile-teacher.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.greeting .account-photo-user {
    height: 25px;
    width: 25px;
    background-image: url('/assets/default-profile-user.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.greeting .account-expand {
    color: gray;
    margin-left: 0.5em;
}

.account-dropdown-hidden {
    display: none;
}

//MOBILE STYLING------------------------------

.navbar-mobile {
    display: none;
}

.mobile-menu-dropdown-hidden {
    display: none;
}


.navbar-mobile .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar-mobile #navbar-logo {
    height: 40px;
    width: 110px;
    margin-left: 1em;
}

#mobile-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid lightgray;
    padding: 0em 1em;
    margin-right: 1em;
    cursor: pointer;

    &:hover {
        background-color: $gray;
        border: 1px solid gray;
        }
}

.mobile-menu-dropdown li, #mobile-signin {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    padding-left: 1.25em;
    height: 50px;
    border-top: 1px solid lightgray;
    cursor: pointer;  
}

.mobile-menu-dropdown .account-links .link-holder {
    border: 0;
}

.mobile-menu-dropdown li:hover, #mobile-signin:hover {
    background-color: $gray;
}

.mobile-menu-dropdown .greeting {
    height: 50px;
    background-color: $gray;
    justify-content: flex-start;
    font-style: italic;
    border-top: 1px solid lightgray;

}

//MOBILE RESPONSIVENESS------------------------------

@media screen and (max-width: 700px) {
    .navbar-mobile {
        display: initial;
        font-weight: 400;
        border-bottom: 3px solid lightgray;
    }

    .navbar-main {
        display: none;
    }
}