@import 'colors.scss'; 

.splash-row {
    border-top: 1px solid lightgray;
    width: 100%;
}

//FIRST ROW----------------------------------
.splash-row:first-child {
    border-top: none;
}

.splash-row-01 {
    height: 500px;
}

.splash-row-01-A {
    background-image: url('/assets/splash-welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.splash-row-01-B {
    width: 66%;
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(56,4,193,0.8);
}

.splash-row-01-C {
    display: none;
}

#welcome-message {
    color: white;
    padding-left: 3em;
    width: 550px;
}

#welcome-message h1 {
    line-height: 1.25em;
}

#welcome-message .subheader {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5em;
    margin: 1em 0 1.5em 0;
}

#welcome-message div {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    background-color: $blue;
    padding: 1em 2em 1em 2em;
    width: 250px;
    margin: 0 0 1.5em 0;
}

#welcome-message .subblurb {
    line-height: 1.25em;
    width: 400px;
}

//SECOND ROW----------------------------------




//THIRD ROW----------------------------------

.splash-row-03 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    align-items: center;
    font-weight: 700;
    color: white;
    background-color: $light-blue;
    text-align: center;
    height: 100px;
}

.splash-row-03 span {
    text-align: right;
}

.splash-row-03 .link {
    float: left;
    color: white;
    border: 1px solid $gray;
    width: 250px;
    padding: 1em;
}

.splash-row-03 .link:hover {
    background-color: $blue;
}

.splash-row-05 {
    background-image: url('/assets/default-background.jpg');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: white;
}

.splash-row-05 h2 {
    color: $yellow;
}

.splash-row-05 .subheader {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5em;
    margin: 1em 0 1.5em 0;
    width: 600px;
    text-align: center;
}

.splash-row-05 a {
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid lightgray;
    padding: 1em 2em 1em 2em;
    width: 150px;
}

.splash-row-05 a:hover {
    border: 1px solid white;
}

// TO BE STYLED----------------------------
.splash-row-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $gray;
}

.splash-row-04, .splash-row-06, .splash-row-08 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: $gray;
    color: $blue;
}

.splash-row-07 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: $yellow;
    color: $purple;
}


//MEDIA QUERIES-------------------------------

@media (max-width: 700px) {
    .splash-row-01 {
        height: auto;
    }
    
    .splash-row-01-A {
        height: 200px;
    }
    
    .splash-row-01-B {
        display: none;
    }
    
    .splash-row-01-C {
        display: flex;
        height: auto;
        background: $purple;
    }

    #welcome-message {
        padding: 2em 1em 2em 1em;
        width: 100%
    }

    #welcome-message h1 {
        line-height: 1em;
        // font-size: 32px;
    }

    #welcome-message div {
        width: auto;
    }

    #welcome-message .subblurb {
        width: auto;
        text-align: center;
    }

    .splash-row-03 {
        grid-template-columns: 1fr;
        width: auto;
        padding: 1em;
    }

    .splash-row-03 span {
        text-align: center;
    }

    .splash-row-03 .link {
        width: auto;
    }

    .splash-row-05 {
      justify-content: space-evenly;
      height: auto;
      padding: 1em 0 1em 0;
    }

    .splash-row-05 .subheader {
        width: auto;
        margin: 1em;
    }

    .splash-row-05 a {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 1em 0 1em 0;
    }


}
